
@font-face {
	font-family: 'ARMS';
	src: url("ARMSARMSv1.001.ttf");
}

body {
	background-color: #1d94fc;
	padding: 0; margin: 0;
	
	font: 1em Helvetica, Arial, sans-serif;
}

#outer-container {
	margin: 0 auto;
	width: 600pt;
	text-align: center;
	
	padding: 0.5em 0em 3em 0em;
	background-color: yellow;
}

#controls {
	margin: 0 auto;
	width: 25em;
	text-align: center;
}

p#warning {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

h1, h2 
{
	color: black;
	font-weight: bold;
}

h1 {
	font-family: ARMS;
	font-size: 3.5em;
	margin: 0.5em auto;
	
	font-style: italic;
	background-color: black;
	color: white;
	border-radius: 2.5em 0px 2.5em 0px;
	width: 80%;
}

h2 {
	font-size: 1em;
	border-bottom: 1pt solid #1d94fc;
	text-align: left;
	padding-left: 1em;
}

.stage-container {
	width: 70%;
	margin: 0 auto;
	padding: 0.5em;
}

.stage {
	color: black;
	
	font: 1.8em Helvetica, Arial, sans-serif;
	font-weight: bold;
	
	padding: 0.5em;
	border-radius: 2.5em 0px 2.5em 0px;
	
	margin: -0.5em auto;
}


.stage:hover {
	font-style: italic;
	background-color: black;
	color: white;
}