
@font-face {
	font-family: 'ARMS';
	src: url("ARMSARMSv1.001.ttf");
}

body {
	background-color: #1d94fc;
	padding: 0; margin: 0;
	font: 1em Helvetica, Arial, sans-serif;
}

#container {
	margin: 0 auto;
	max-width: 700pt;
	text-align: center;
	padding-bottom: 2em;
	background-color: yellow;
	border: 2pt solid black;
	position: relative;
	overflow: hidden;
	transition: background-color 0.5s;
}


@keyframes pulseopacity {
  from { opacity: 0.05; }
  40%  { opacity: 0.05; }
  60%  { opacity: 0.2; }
  80%  { opacity: 0.05; }
  to   { opacity: 0.05; }
}


@keyframes colorshift {
  from { background-color: #1d94fc; }
  50%  { background-color: #0a73c7; }
  to   { background-color: #1d94fc; }
}

#controls {
	margin: 0 auto;
	width: 25em;
	text-align: center;
}

#container p {
	padding: 0 70pt;
	text-align: left;
	line-height: 1.3em;
}


ul {
	text-align: left;
	padding: 0 70pt;
}

em {
	font-weight: bold;
	font-style: normal;
	color: #1d94fc;
}

.command {
	font-family: monospace;
	background-color: #33353b;
	color: white;
	white-space:nowrap;
}


a {
	color: #1d94fc;
}

h1 {
	text-align: center;
	font-family: ARMS;
	font-size: 2.5em;
	margin: 0 auto;
	transition: 0.1s;
}

h1 > a {
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 0 1em;
	border-top-left-radius: 0.8em 100%;
	border-top-right-radius: 0.8em 100%;
	white-space: nowrap;
}



h1 > a:hover {
	color: yellow;
}

h2, h3 { font-family: 'ARMS'; }

h2 {
	font-size: 1.4em;
	background-color: black;
	color: white;
	margin-top: 2em;
	padding: 2pt 0;
}

#container h2:first-child {
	margin-top: 0;
}

h3 {
	font-size: 1.2em;
	margin-top: 2em;
	border-bottom: 2pt solid black;
}

h3:target {
	background-color: #1d94fc;
	color: white;
}

@keyframes slidein {
  from { transform: scaleX(1); }
  50%  { transform: scaleX(1.1); }
  to   { transform: scaleX(1); }
}

.menu-container {
	margin: 0 auto;
	padding: 0.5em 0 0.5 70pt;
}

a.menu-item {
	text-decoration: none;
	display: block;
	color: black;
	font: 1.8em Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	padding: 0.2em 70pt 0.2em 0;
	border-top-left-radius: 1em 100%;
	margin: -0.15em auto;
	z-index: 1;
	transition: 0.2s background-color;
}


.m1 { font-size: 3.5em !important; }
.m2 { font-size: 3.0em !important; }
.m3 { font-size: 2.2em !important; }
.m4 { font-size: 1.6em !important; }
.m5 { font-size: 1.3em !important; }


a.menu-item:hover, a.menu-item:active {
	background-color: #1d94fc;
	color: white;
	animation: 0.3s slidein;

}

.submenu {
	margin-top: 1.5em;
	margin-left: 7.5em;
}

a.submenu-item {
	text-decoration: none;
	display: inline-block;
	position: relative;
	margin: 0 0.1em;
	font-size: 0.8em;
	width: 6em;
	font-style: italic;
	color: black;
	border: 1.5pt solid black;
	border-top-left-radius: 10pt 100%;
	border-bottom-right-radius: 10pt 100%;
	transition: background-color 0.2s;
}

a.submenu-item.long {
	width: 10em;
	margin-right: 0;
}

a.submenu-item.extra {
	margin-left: -5em;
	width: auto;
	padding: 0 1.2em;
	color: yellow;
	font-weight: bold;
	background-color: black;
}

a.submenu-item > .sub-text {
	position: relative;
	text-decoration: none;
	color: black;
	top: 1.5em;
}

.submenu-item > img {
	position: absolute;
	bottom: 0;
	left: 1em;
	width: 4em;
	transition: 0.2s;
}

.submenu-item:hover {
	background-color: #1d94fc;
}

.submenu-item:hover > img {
	left: 0.5em;
	width: 5em;
}

.stage-container {
	background-color: #36393f;
	width: 50%;
	margin: 0 auto;
	padding: 1em 2em;
	border: 3pt solid #595d69;
	border-radius: 1em;
	box-shadow: 0 0 3pt #36393f;
}

.stage {
	background-color: black;
	color: white;
	font: 1em Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	padding: 0.3em 0.2em;
	margin: 0.5em;
	border-radius: 0.5em;
	transition: background-color 0.3s;
	
	margin: 0.5em auto;
}

.stage:hover {
	background-color: white;
	color: black;
}

.stage.active {
	background-color: yellow;
	color: black;
	font-weight: bold;
}

.stage.active:after
{
	content: " â—";
	text-align: left;
}

.stage.inactive {
	background-color: black;
	opacity: 0.4;
}


/* Event mode */

.event #container {
	background-color: #1d94fc;
	color: white;
	animation: 10s colorshift infinite;
}

.event #shield {
	animation: 2.2s pulseopacity infinite;
}

.event #logo {
	animation: 3s pulseopacity infinite;
}

.event {
	background-color: #444;
}

.event h1 { color: yellow; }

.event a.menu-item {
	color: white;
}

.event a.menu-item:hover, .event a.menu-item:active {
	background-color: black;
	color: yellow;
}

.event .submenu-item {
	border-color: white;
}

.event a.submenu-item > .sub-text {
	color: white;
}

.event .submenu-item:hover {
	background-color: black;
}

.event .submenu-item.extra {
	background-color: white;
	color: #1d94fc;
}



@media only screen and (max-width: 600px) {
	body {
		background-color: lightblue !important;
	}
}
