---
redirect_from: "/lobbies/themes/"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lobby Themes – Casual ARMS</title>
	{% include meta_tags.html %}
	<link rel="stylesheet" href="/assets/style.css">
	<script src="/script/general.js"></script>
	<script src="/data/support.js"></script>
	<style>
	
	#container {
		background-color: #c7d7e7;
	}
	
	.stage.active {
		color: yellow;
		background-color: black;
	}
	
	.themes-block {
		padding-bottom: 1.5em;
	}
	
	.themes-block > p {
		padding: 0 10%;
		line-height: 1.4em;
	}
	
	#themes-arms  { background-color: yellow; }
	#themes-kart  { background-color: #f92473; }
	#themes-splat { background-color: #00dd00; }
	#themes-splat3 { background-color: #5c35df; }
	#themes-smash { background-color: white; }
	
	.graphics-wrapper {
		display: block; 
		text-align: center;
	}
	
	canvas.rule-graphic {
		max-width: 100%;
	}
	
	</style>
	<script>
	
	function load()
	{
		var scrolltoid = null;
		var game_menu_html = "<div class='menu-container'>";
		var html = "";
		
		for (var game in eventGames)
		{
			if (game == "variety") continue;
			
			game_menu_html += "<a class='menu-item m5' href='#" + game + "'>" + eventGames[game] + "</a>";
			var menu_html = "<div class='menu-container'>";
			var theme_html = "";
			
			for (var i = 0; i < eventThemes[game].length; ++i)
			{
				var theme = eventThemes[game][i];
				menu_html += "<a class='menu-item m5' href='#" + theme.key + "'>" + theme.name + "</a>";
				theme_html += printTheme(game, theme);
				
				if (window.location.hash.substring(1) == theme.key)
					scrolltoid = theme.key;
			}
			
			menu_html += "</div><h3>Stage Sets</h3><div class='menu-container'>";
			
			for (var i = 0; i < stageSets[game].length; ++i)
			{
				var stageset = stageSets[game][i];
				menu_html += "<a class='menu-item m5' href='#" + stageset.key + "'>" + stageset.name + "</a>";
				theme_html += "<h3 id='" + stageset.key + "'>" + stageset.name + "</h3>";
				theme_html += printStageSet(game, getStageSet(game, stageset.key));
				if (game == "smash")
					theme_html += "<span class='graphics-wrapper'><canvas class='rule-graphic' id='stages-graphic-" + stageset.key + "'></canvas></span>";
				
				if (window.location.hash.substring(1) == stageset.key)
					scrolltoid = stageset.key;
			}
			
			if (game == "smash")
			{
				menu_html += "</div><h3>Item Sets</h3><div class='menu-container'>";
				
				for (var i = 0; i < itemSets[game].length; ++i)
				{
					var itemset = itemSets[game][i];
					menu_html += "<a class='menu-item m5' href='#" + itemset.key + "'>" + itemset.name + "</a>";
					theme_html += "<h3 id='" + itemset.key + "'>" + itemset.name + "</h3>";
					theme_html += printItemSet(game, getItemSet(game, itemset.key));
					if (game == "smash")
						theme_html += "<span class='graphics-wrapper'><canvas class='rule-graphic' id='items-graphic-" + itemset.key + "'></canvas></span>";
					
					if (window.location.hash.substring(1) == itemset.key)
						scrolltoid = itemset.key;
				}
			}
			
			html += "<div class='themes-block' id='themes-" + game + "'><h2 id='" + game + "'>" + eventGames[game] + "</h2>" + menu_html + "</div>" + theme_html + "</div>";
		}
		
		$("themes").innerHTML = game_menu_html + "</div>" + html;
		
		for (var i = 0; i < stageSets["smash"].length; ++i)
			drawStagesItems("stages", "stages-graphic-" + stageSets["smash"][i].key, getStageSet("smash", stageSets["smash"][i].key));
		
		for (var i = 0; i < itemSets["smash"].length; ++i)
			drawStagesItems("items", "items-graphic-" + itemSets["smash"][i].key, getItemSet("smash", itemSets["smash"][i].key));
		
		var options = "";
		for (var game in eventGames)
			if (game != "variety")
				options += "<option value='" + game + "'>" + eventGames[game] + "</option>";
		$("game").innerHTML = options;
		
		if (scrolltoid != null)
			window.setTimeout(function() { $(scrolltoid).scrollIntoView(); }, 100);
	}
	
	function randomTheme()
	{
		var game = $("game").value;
		var theme  = eventThemes[game][Math.floor(Math.random() * eventThemes[game].length)];
		var stages =   stageSets[game][Math.floor(Math.random() *   stageSets[game].length)];
		var items  =    itemSets[game][Math.floor(Math.random() *    itemSets[game].length)];
		$("random-result").innerHTML = "Random theme: <a href='#" + theme.key + "'>" + theme.name + "</a> with <a href='#" + stages.key + "'>" + stages.name + "</a> stages"
		if (game == "smash")
			$("random-result").innerHTML += " and <a href='#" + items.key + "'>" + items.name + "</a> items";
	}
	
	</script>
</head>

<body onload="load()">
	<h1><a href="/">Casual ARMS</a></h1>
	<div id="container">
		<h2>Lobby Themes</h2>
		<p>These are the themes we use in our <a href="/lobbies/"><em>lobby events</em></a>! We have a focus on <em>casual play</em> with items on and a varied selection of stages. The competitive themes are reserved for our tournament warm-up lobbies.</p>
		<p style="text-align: center;">
			<button onclick="randomTheme()">Random Theme</button> from <select id="game"></select><br/>
			<span id="random-result"></span>
		</p>
		<div id="themes">Loading...</div>
		{% include footer.html %}
	</div>
</body>
</html>
