---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Stats Card Generator – Casual ARMS</title>
	{% include meta_tags.html %}
	<link rel="stylesheet" href="/assets/style.css">
	<script src="/script/general.js"></script>
	<style>
	
	#container { text-align: center; }
	canvas { display: none; }
	
	.stats {
		height: 100%;
		width: 100%;
	}
	
	input[type="range"] {
		width: 6em;
	}
	
	.clabel {
		display: inline-block;
		width: 8em;
		text-align: right;
	}
	
	</style>
	<script>
	
	function loader()
	{
		if (getQueryVariable("hex") != null)
		{
			$("rgba").style.display = "none";
			$("hex").style.display = "block";
		}
		
		var sliders = ["colorR-b", "colorG-b", "colorB-b", "colorR-n", "colorG-n", "colorB-n"];
		for (var i = 0; i < sliders.length; ++i)
		{
			var e = $(sliders[i]);
			e.value = Math.random() * (parseInt(e.max) - parseInt(e.min)) + parseInt(e.min);
		}
		
		generateAttributes(5);
		readAndGenerate();
	}
	
	function readAndGenerate()
	{
		var info = {
			name            : $("name").value,
			steps           : $("steps").value,
			caps            : $("caps").checked,
			bg_color        : "rgba(" + $("colorR-b").value + "," + $("colorG-b").value + "," + $("colorB-b").value + ", 1.0)",
			name_color      : "rgba(" + $("colorR-n").value + "," + $("colorG-n").value + "," + $("colorB-n").value + ", 1.0)",
			highlight_color : "rgba(" + $("colorR-n").value + "," + $("colorG-n").value + "," + $("colorB-n").value + ", 0.6)",
			attr_color      : "rgba(255, 255, 255, 1)",
			grid_color      : "rgba(255, 255, 255, 0.5)"
		};
		
		if (getQueryVariable("hex") != null)
		{
			info.bg_color        = "#" + $("hex-b").value;
			info.name_color      = "#" + $("hex-n").value;
			info.highlight_color = "#" + $("hex-n").value + "90";
		}
		
		info.stats = [];
		for (var i = 0; i < $("attribute-form").childNodes.length; ++i)
			info.stats.push([$("attr-" + i).value, parseInt($("value-" + i).value)]);
		
		$("json").value = JSON.stringify(info);
		
		var c = document.getElementById("card");
		ctx = c.getContext("2d");
		renderStats(ctx, c.width / 2, c.height / 2 + 40, info);
		
		$("result").src = c.toDataURL("image/png");
	}
	
	
	
	function generateAttributeForm(idx)
	{
		var html = "<input type='text' id='attr-##ID##' value='Stat ##ID##' onchange='readAndGenerate()'/>";
		html += "<input type='number' id='value-##ID##' value='3' min='0' onChange='readAndGenerate()'/>"
		var streamer = document.createElement("div");
		streamer.innerHTML = html.replace(/##ID##/g, idx);
		return streamer;
	}
	
	function addAttribute()
	{
		$("attribute-form").appendChild(generateAttributeForm($("attribute-form").childNodes.length));
	}
	
	function removeAttri()
	{
		if ($("attribute-form").childNodes.length > 3)
			$("attribute-form").removeChild($("attribute-form").lastChild);
	}
	
	function generateAttributes(count)
	{
		$("attribute-form").innerHTML = "";
		for (var i = 0; i < count; ++i)
			$("attribute-form").appendChild(generateAttributeForm(i));
	}
	
	</script>
</head>
<body onLoad="loader()">
	<h1><a href="/">Casual ARMS</a></h1>
	<div id="container">
		<h2>Stats Card Generator</h2>
		
		<form oninput="readAndGenerate()">
		<p>
			<label for="name">Name:</label>  <input type="text" id="name" placeholder="Mr. Yabuki" value="Mr. Yabuki"/><br/>
			<label for="steps">Steps:</label> <input type="number" id="steps" value="5" min="1"/><br/>
			<label for="caps">Capitalize:</label> <input type="checkbox" checked id="caps" onchange="readAndGenerate()"/>
		</p>
		
		<p id="rgba">
			<label for="colorR-b"/>R</label> <input id="colorR-b" type="range" min="0" max="175" step="1" value="0">
			<label for="colorG-b"/>G</label> <input id="colorG-b" type="range" min="0" max="175" step="1" value="125">
			<label for="colorB-b"/>B</label> <input id="colorB-b" type="range" min="0" max="175" step="1" value="70"><br/>
			
			<label for="colorR-n"/>R</label> <input id="colorR-n" type="range" min="125" max="255" step="1" value="255">
			<label for="colorG-n"/>G</label> <input id="colorG-n" type="range" min="125" max="255" step="1" value="255">
			<label for="colorB-n"/>B</label> <input id="colorB-n" type="range" min="125" max="255" step="1" value="0"><br/>
		</p>
		
		<p id="hex" style="display: none;">
			<label for="hex-b" class="clabel"/>Background: </label> #<input id="hex-b" type="text" value="FF5500"><br/>
			<label for="hex-n" class="clabel"/>Name: </label>       #<input id="hex-n" type="text" value="335500"><br/>
		</p>
		
		<p>
			<input type="button" value="+ Stat" onclick="addAttribute(); readAndGenerate();"/>
			<input type="button" value="- Stat" onclick="removeAttri(); readAndGenerate();"/><br/>
			<span id="attribute-form"></span>
		</p>
		</form>
		
		<img class="stats" id="result"/>
		<canvas class="stats" id="card" width="800" height="600"></canvas>
		<p>Save the above image and share wherever you like!</p>
		<textarea id="json" rows="5" style="width: 30em;"></textarea>
		{% include footer.html %}
	</div>
</body>
</html>
