/* General styles */

@font-face {
	font-family: 'ARMS';
	src: url("ARMSARMSv1.001.ttf");
}

body {
	padding: 10pt 0;
	margin: 0;
	font: 1em Helvetica, Arial, sans-serif;
	background: #1d94fc;
	background: radial-gradient(rgba(0,0,0,0) 65%, rgba(0,0,0,0.3) 100%) fixed, url(backdrop.png) repeat fixed, #1d94fc;
	-webkit-text-size-adjust: 100%;
}

#container {
	margin: 0 auto;
	max-width: 700pt;
	background-color: yellow;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5), 0 0 100px rgba(0,0,0,0.3) inset;
	position: relative;
	overflow: hidden;
}


@keyframes pulseopacity {
  from { opacity: 0.05; }
  40%  { opacity: 0.05; }
  60%  { opacity: 0.2; }
  80%  { opacity: 0.05; }
  to   { opacity: 0.05; }
}


@keyframes colorshift {
  from { background-color: #1d94fc; }
  50%  { background-color: #0a73c7; }
  to   { background-color: #1d94fc; }
}

#controls {
	margin: 0 auto;
	width: 25em;
	text-align: center;
}

#container > p, .padded {
	padding: 0 10%;
	line-height: 1.4em;
}

/* Dark theme */
#container.container-dark {
	background-color: #444;
	color: white;
}

.container-dark a {
	color: yellow;
}


ul, ol {
	text-align: left;
	padding: 0 10%;
	line-height: 1.4em;
}

em {
	font-weight: bold;
	font-style: normal;
	background-color: black;
	color: white;
	padding: 1pt 8pt;
	white-space: nowrap;
	border-top-left-radius: 0.8em 100%;
	border-bottom-right-radius: 0.8em 100%;
}

a {
	color: #1d94fc;
}

a > em {
	background-color: #1d94fc;
	color: white;
	text-decoration: underline;
}

a > em.streamer {
	background-color: #4b367c;
}

img.armscoin-text {
	width: 1.1em;
	position: relative;
	top: 2.5pt;
}

.command {
	font-family: monospace;
	font-size: 1.2em;
	padding: 1pt 2pt;
	background-color: #33353b;
	color: white;
	white-space:nowrap;
}



h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: ARMS;
	font-size: 3.5em;
	margin: 0 0 10pt 0;
}

h1 > a {
	text-decoration: none;
	color: black;
	background-color: yellow;
	padding: 0em 0.5em;
	border-top-left-radius: 0.8em 100%;
	border-bottom-right-radius: 0.8em 100%;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	white-space: nowrap;
	transition: color 0.2s, background-color 0.2s;
}

h1.title-kart  > a { background-color: #f92473 !important; }
h1.title-splat > a { background-color: #00dd00 !important; }
h1.title-smash > a { background-color: #ffffff !important; }

h1 > a:hover {
	color: white;
	background-color: black;
}

h2, h3 {
	font-family: 'ARMS';
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 1.4em;
	background-color: black;
	color: white;
	margin-top: 2em;
	padding: 2pt 0;
}

#container h2:first-child {
	margin-top: 0;
}

h3 {
	font-size: 1.2em;
	margin-top: 2em;
	border-bottom: 1pt solid black;
}

h3:target {
	background-color: #1d94fc;
	color: white !important;
}

@keyframes slidein {
  from { transform: scaleX(1); }
  50%  { transform: scaleX(1.1); }
  to   { transform: scaleX(1); }
}

.menu-container {
	text-align: center;
	margin: 0 auto 0.5em auto;
	padding: 0.5em 0 0.5em 70pt;
}

a.menu-item {
	text-decoration: none;
	display: block;
	color: black;
	font: 1.8em Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	padding: 0.2em 70pt 0.2em 0;
	border-top-left-radius: 1em 100%;
	margin: -0.1em auto;
	z-index: 1;
	transition: 0.2s background-color;
}


.m1 { font-size: 3.5em !important; }
.m2 { font-size: 3.0em !important; }
.m3 { font-size: 2.5em !important; }
.m4 { font-size: 1.8em !important; }
.m5 { font-size: 1.2em !important; }


a.menu-item:hover, a.menu-item:active {
	background-color: #1d94fc;
	color: white;
	animation: 0.3s slidein;
}

.submenu {
	text-align: center;
}

a.submenu-item {
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-size: 0.8em;
	width: 6em;
	margin-top: 1.8em;
	font-style: italic;
	color: black;
	border: 1pt solid black;
	border-top-left-radius: 10pt 100%;
	border-bottom-right-radius: 10pt 100%;
	transition: background-color 0.2s;
}

a.submenu-item.long {
	width: 10em;
	margin-right: 0;
}

a.submenu-item.extra {
	margin-left: -5em;
	width: auto;
	padding: 0 1.2em;
	color: yellow;
	font-weight: bold;
	background-color: black;
}

a.submenu-item > .sub-text {
	position: relative;
	text-decoration: none;
	color: black;
	top: 1.5em;
}

.submenu-item > img {
	position: absolute;
	bottom: 0;
	left: 1em;
	width: 4em;
	transition: 0.2s;
}

.submenu-item:hover {
	background-color: #1d94fc;
}

.submenu-item:hover > img {
	left: 0.5em;
	width: 5em;
}

.submenu-group {
	white-space: nowrap;
}

.stage-container {
	text-align: center;
	background-color: #36393f;
	width: 80%;
	max-width: 250pt;
	margin: 1em auto;
	padding: 0.4em 1em;
	border: 3pt solid #595d69;
	border-radius: 1em;
	box-shadow: 0 0 3pt #36393f;
}

.stage-container-header
{
	color: white;
	font-weight: bold;
}

.stage {
	background-color: black;
	color: white;
	font: 0.8em Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	padding: 0.3em 0.2em;
	margin: 0.5em;
	border-radius: 0.5em;
	transition: background-color 0.3s;
	
	margin: 0.5em auto;
}

.stage:hover {
	background-color: white;
	color: black;
}

.stage.active {
	background-color: yellow;
	color: black;
	font-weight: bold;
}

.stage.active:after
{
	content: " â—";
	text-align: left;
}

.stage.inactive {
	background-color: black;
	opacity: 0.4;
}


/* Lobby settings */

.mode-name {
	width: 50%;
	text-align: right;
	display: inline-block;
	font-weight: bold;
}

.mode-options {
	background-color: #36393f;
	color: yellow;
	font-weight: bold;
	font-style: italic;
	white-space: pre;
	padding: 2pt 4pt;
	margin-left: 0.5em;
	border: 2pt solid #595d69;
	border-radius: 4pt;
}

.mode-options.option-off {
	color: lightgray;
}
.mode-options.option-on {
	color: yellow;
}

.mode-group {
	background-color: #ddd;
	border-radius: 1em;
	max-width: 400pt;
	margin: 1em auto;
	padding: 0.5em;
	position: relative;
}

.mode-group-heading {
	position: absolute;
	top: 0.6em;
	left: 1em;
	font-weight: bold;
}

@media only screen and (max-width: 600px)
{
	.mode-name, .mode-options { font-size: 0.8em; }
}

/* Event mode */

.event #container {
	background-color: #1d94fc;
	color: white;
	animation: 10s colorshift infinite;
}

.event #shield {
	animation: 2.2s pulseopacity infinite;
}

.event #logo {
	animation: 3s pulseopacity infinite;
}

.event {
	background-color: #666;
}

.event h1 { color: yellow; }

.event a.menu-item {
	color: white;
}

.event a.menu-item:hover, .event a.menu-item:active {
	background-color: black;
	color: yellow;
}

.event .submenu-item {
	border-color: white;
}

.event a.submenu-item > .sub-text {
	color: white;
}

.event .submenu-item:hover {
	background-color: black;
}

.event .submenu-item.extra {
	background-color: white;
	color: #1d94fc;
}

.discord-bg {
	background-color: #738bd7;
}

.switch-bg {
	background-color: #e60012;
	color: white;
}

.switch-bg::before {
	content:"";
	background-image: url(/assets/switch-logo.png);
	background-size: 1em 1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: text-top;
	margin: 0 3px 0 -2px;
}


#mode-selector {
	text-align: center;
	font-family: ARMS;
	font-size: 1.2em;
	text-transform: uppercase;
}

.mode {
	padding: 3pt 12pt;
	border: 1pt solid black;
	cursor: pointer;
	display: inline-block;
	margin: 5pt 0;
}

.mode:hover {
	background-color: #888;
}

.mode.active-mode {
	background-color: yellow;
	color: black;
}

.mode.active-mode-kart    { background-color: #f92473; }
.mode.active-mode-splat   { background-color: #00dd00; }
.mode.active-mode-smash   { background-color: #ffffff; }
.mode.active-mode-patreon { background-color: #f36b61; }

.split-mode {
	white-space: nowrap;
	display: inline-block;
}

.split-mode .mode:nth-child(1) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
	border-right: 1pt solid white;
}

.split-mode .mode:nth-child(1).active {
	border-right: none;
}

.split-mode .mode:nth-child(2) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 0;
	border-left: none;
}

#themes > p {
	padding: 0 10%;
	line-height: 1.4em;
}

#footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 0.7em;
	padding: 0.5em;
	margin: 0;
}

#footer a { color: inherit; }


@media only screen and (max-width: 600px)
{
	#container > p, .padded {
		padding: 0 5%;
	}
	
	h1 {
		font-size: 1.5em;
	}
	
	h2, h3 {
		font-size: 1em;
	}
	
	#container h2:first-child {
		margin-top: 0;
	}
	
	.menu-container {
		margin: 0 auto;
		padding: 0.5em 0 0.5em 10pt;
	}
	
	a.menu-item {
		padding: 0.2em 10pt 0.2em 0;
	}
	
	.m1 { font-size: 1.8em !important; }
	.m2 { font-size: 1.6em !important; }
	.m3 { font-size: 1.4em !important; }
	.m4 { font-size: 1.1em !important; }
	.m5 { font-size: 1.0em !important; }
	
}
